[Unit]
Description=First Boot Reboot

[Service]
Type=oneshot
ExecStart=rm /etc/systemd/system/firstboot_reboot.service
ExecStart=rm /etc/systemd/system/default.target.wants/firstboot_reboot.service
ExecStart=systemctl reboot

[Install]
WantedBy=default.target
